In [1]:
! pip install pandas

Requirement already satisfied: pandas in /Users/ianwong/anaconda3/lib/python3.6/site-packages (0.23.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/ianwong/anaconda3/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2011k in /Users/ianwong/anaconda3/lib/python3.6/site-packages (from pandas) (2018.4)
Requirement already satisfied: numpy>=1.9.0 in /Users/ianwong/anaconda3/lib/python3.6/site-packages (from pandas) (1.14.3)
Requirement already satisfied: six>=1.5 in /Users/ianwong/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [5]:
a = pd.Series([1,2,3,4], index=['a','b','c','d'])

In [6]:
a

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
a[2]

3

In [12]:
condition = [1,4]
f = a.isin(condition).values
a[f]

a    1
d    4
dtype: int64

In [13]:
#

import numpy as np
attr = np.array([1,2,3,4,5])
t = pd.Series(attr)
t

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
t1 = pd.Series(t)

In [15]:
t1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
attr[2]=100
t

0      1
1      2
2    100
3      4
4      5
dtype: int64

In [17]:
t1

0      1
1      2
2    100
3      4
4      5
dtype: int64

# DataFrame

In [18]:
 import pandas as pd

In [19]:
data = {'color':['red','blue','yellow','white','green'],'price':[1,2,3,4,5]}

In [24]:
#create dataframe
a = pd.DataFrame(data,index=['a','b','c','d','e'])

In [25]:
a

    color  price
a     red      1
b    blue      2
c  yellow      3
d   white      4
e   green      5

In [26]:
b = pd.DataFrame(data,columns=['price','color'])
b

   price   color
0      1     red
1      2    blue
2      3  yellow
3      4   white
4      5   green

In [27]:
import numpy as np

In [32]:
a = np.arange(20).reshape((4,5))
b = pd.DataFrame(a)
b.index = (['a','b','c','d'])
b.columns=([1,2,3,4,5])
b

    1   2   3   4   5
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

In [33]:
b.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [34]:
b.columns

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [35]:
b[1]

a     0
b     5
c    10
d    15
Name: 1, dtype: int64

In [42]:
b.loc[['b','d']]

    1   2   3   4   5
b   5   6   7   8   9
d  15  16  17  18  19

In [44]:
b[1:4]

    1   2   3   4   5
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

In [45]:
b[1]['a']

0

In [48]:
b.index.name='color'
b.columns.name='values'
b

values   1   2   3   4   5
color
a        0   1   2   3   4
b        5   6   7   8   9
c       10  11  12  13  14
d       15  16  17  18  19

In [50]:
b[6]=[100,101,102,103]
b

values   1   2   3   4   5    6
color
a        0   1   2   3   4  100
b        5   6   7   8   9  101
c       10  11  12  13  14  102
d       15  16  17  18  19  103

In [53]:
b.loc['e'] = [100,100,100,100,100,100]
b

values    1    2    3    4    5    6
color
a         0    1    2    3    4  100
b         5    6    7    8    9  101
c        10   11   12   13   14  102
d        15   16   17   18   19  103
e       100  100  100  100  100  100

In [54]:
b.head

<bound method NDFrame.head of values    1    2    3    4    5    6
color
a         0    1    2    3    4  100
b         5    6    7    8    9  101
c        10   11   12   13   14  102
d        15   16   17   18   19  103
e       100  100  100  100  100  100>

In [58]:
#dataframe includes many seriers

bb = np.arange(5)
ser = pd.Series(bb,index=['a','b','c','d','e'])
b[7]=ser

values    1    2    3    4    5    6  bb  7
color
a         0    1    2    3    4  100   0  0
b         5    6    7    8    9  101   1  1
c        10   11   12   13   14  102   2  2
d        15   16   17   18   19  103   3  3
e       100  100  100  100  100  100   4  4

In [59]:
b.isin([1,3])

values      1      2      3      4      5      6     bb      7
color
a       False   True  False   True  False  False  False  False
b       False  False  False  False  False  False   True   True
c       False  False  False  False  False  False  False  False
d       False  False  False  False  False  False   True   True
e       False  False  False  False  False  False  False  False

In [60]:
b[b.isin([1,3])]

values   1    2   3    4   5   6   bb    7
color
a      NaN  1.0 NaN  3.0 NaN NaN  NaN  NaN
b      NaN  NaN NaN  NaN NaN NaN  1.0  1.0
c      NaN  NaN NaN  NaN NaN NaN  NaN  NaN
d      NaN  NaN NaN  NaN NaN NaN  3.0  3.0
e      NaN  NaN NaN  NaN NaN NaN  NaN  NaN

In [61]:
b

values    1    2    3    4    5    6  bb  7
color
a         0    1    2    3    4  100   0  0
b         5    6    7    8    9  101   1  1
c        10   11   12   13   14  102   2  2
d        15   16   17   18   19  103   3  3
e       100  100  100  100  100  100   4  4

In [62]:
#delete a colum
del b['bb']

In [63]:
b

values    1    2    3    4    5    6  7
color
a         0    1    2    3    4  100  0
b         5    6    7    8    9  101  1
c        10   11   12   13   14  102  2
d        15   16   17   18   19  103  3
e       100  100  100  100  100  100  4

In [76]:
b.T
b

values    1    2    3    4    5    6  7
color
a         0    1    2    3    4  100  0
b         5    6    7    8    9  101  1
c        10   11   12   13   14  102  2
d        15   16   17   18   19  103  3
e       100  100  100  100  100  100  4

In [77]:
b.idxmax()

values
1    e
2    e
3    e
4    e
5    e
6    d
7    e
dtype: object

In [78]:
b.idxmin()

values
1    a
2    a
3    a
4    a
5    a
6    a
7    a
dtype: object

In [83]:
c = b.reindex(range(6),method='ffill',columns=['d','d','d','d','d','d','d'
                                                           ])

TypeError: unorderable types: str() < int()

In [84]:
b.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='color')

In [85]:
b.index.is_unique

True

In [87]:
ser = pd.Series([3,5,7,9],index=[1,6,9,11])
ser

1     3
6     5
9     7
11    9
dtype: int64

In [90]:
ser.reindex(range(1,13),method='bfill')

1     3.0
2     5.0
3     5.0
4     5.0
5     5.0
6     5.0
7     7.0
8     7.0
9     7.0
10    9.0
11    9.0
12    NaN
dtype: float64

In [92]:
df = pd.DataFrame(np.arange(20).reshape((4,5)),columns=['a','b','c','d','e'])
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [97]:
df1 = df.reindex(range(6),method='bfill',columns=['a','f','b','c','d','e','f'])
df1

      a   f     b     c     d     e   f
0   0.0 NaN   1.0   2.0   3.0   4.0 NaN
1   5.0 NaN   6.0   7.0   8.0   9.0 NaN
2  10.0 NaN  11.0  12.0  13.0  14.0 NaN
3  15.0 NaN  16.0  17.0  18.0  19.0 NaN
4   NaN NaN   NaN   NaN   NaN   NaN NaN
5   NaN NaN   NaN   NaN   NaN   NaN NaN